.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.intro{
  color: #282c34;
    height: 15%;
}
.logindataalign {
  background-color: #282c34;
  display: flex;
 }
.memberlogin{
  margin:3%;
  display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-items: center;
gap:5%;
}
.Studentdataalign {
  background-color: #282c34;
  display: flex;
   flex-wrap: wrap;
  
 }

.movie-list{
  margin-top:3%;
  display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-items: center;
gap:5%;
}